<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老地方</title>
</head>
<body>
<div>老地方欢迎你</div>
<form action="">
    <div>
        <input type="radio" name="people" checked value="3" class="people">3人
        <input type="radio" name="people" value="4" class="people">4人
    </div>
    <table>
        <tr>
            <td>
                <select name="user1" id="user1">
                    <option value="haha"></option>
                </select>
            </td>
            <td><input type="text" name="user1" value="lala"></td>
        </tr>
        <tr>
            <td><select name="usr2" id="usr2"></select></td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td><select name="usr3" id="usr3"></select></td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td><select name="usr4" id="usr4"></select></td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td><input type="submit"></td>
            <td></td>
        </tr>
    </table>
</form>
</body>
</html>