<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老地方</title>
</head>
<body>
<div>谁才是队友心里没点数？</div>
<form action="">
    <table>
        <tr>
            <td>上一局得分</td>
            <td>总分</td>
            <td>玩家</td>
            <td></td>
        </tr>
        <tr>
            <td>{{ result. }}</td>
            <td>{{ result. }}</td>
            <td>{{ result. }}</td>
            <td><input type="text" name="{{ result.id }}"></td>
        </tr>
        <tr>
            <td>{{ result. }}</td>
            <td>{{ result. }}</td>
            <td>{{ result. }}</td>
            <td><input type="text" name="{{ result.id }}"></td>
        </tr>
        <tr>
            <td>{{ result. }}</td>
            <td>{{ result. }}</td>
            <td>{{ result. }}</td>
            <td><input type="text" name="{{ result.id }}"></td>
        </tr>
        <tr>
            <td>{{ result. }}</td>
            <td>{{ result. }}</td>
            <td>{{ result. }}</td>
            <td><input type="text" name="{{ result.id }}"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </table>
</form>
</body>
</html>