<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老地方</title>
</head>
<body>
<div id="logo" class="logo">
    <table>
        <tr>
            <td>初</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>再</td>
            <td rowspan="7"><img src="" alt=""></td>
            <td rowspan="7"><img src="" alt=""></td>
        </tr>
        <tr>
            <td></td>
            <td>斗</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>斗</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>不</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>已</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>识</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>是</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>此</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>弟</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>中</td>
            <td></td>
            <td></td>
            <td>中</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>意</td>
            <td>弟</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<div class="navigate">
    <div id="login" href="">登陆</div>
    <div id="regest" href="">注册</div>
    <div id="stranger" href="">路人</div>
</div>
</body>
</html>